h1 {
  color: rebeccapurple;
}



img {
    display: block;
    margin: auto;
}

 p { text-indent: 25px;
  }

* {
    font-family: sans-serif;
    font-size: 20px;
}

main {
    width: 960px;
    margin: auto;
}
h3, h2, h1{ 
    text-align: center;
        color:#110b52;
}

span {
    font-weight: bold;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}
footer {
    text-align: center;
}

body {
   background-color: #e8fdff; 
}